<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Иди нахуй</h1>

    <script>
        function convertBlobToWav(blobData) {
        const blob = new Blob([blobData], { type: 'audio/wav' });

        const audio = new Audio();
        audio.src = URL.createObjectURL(blob);
        audio.controls = true;
        document.body.appendChild(audio);

        const downloadLink = document.createElement('a');
        downloadLink.href = URL.createObjectURL(blob);
        downloadLink.download = 'audio.wav';
        downloadLink.innerText = 'Download WAV';
        document.body.appendChild(downloadLink);
    }

        const socket = new WebSocket('ws://localhost:6379/ws');

        socket.onopen = function(e) {
        socket.send(JSON.stringify({
            message: 'Hello from Js client'
        }));
        };

        socket.onmessage = function(event) {
        try {
            console.log(event);
            console.log(event.data);
            convertBlobToWav(event.data)
            
        } catch (e) {
            console.log('Error:', e.message);
        }
        }
    </script>
</body>
</html>